<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<mat-toolbar class="maintab" class="tabHeader" style="justify-content: space-between;">
  <div class="logo-wrapper">

    <span  class="logo"> <span class="material-icons">
      fiber_manual_record
      </span>
    </span> 
    <span style="font-size: 25px;  color: rgb(155, 153, 153);">BOSS </span> <span style="font-size: 18px; color: rgb(155, 153, 153);">uat</span> 
  </div>

  
  <span class="notifyright1" style="display: flex; align-items: center;">
    <i class="far fa-bell" style="margin-right: 1rem;"></i>
    <i class="far fa-comments" style="margin-right: 1rem;"></i>
    <img class="imgAvatar" src="../assets/image/GirlFace_Office.jpg" style="margin-right: 1rem;">
    <span class="imgLabel">LS</span>
  </span>
</mat-toolbar>
<mat-tab-group class="tabsMain">
  <mat-tab label="Staffing">
    <p><span style="font-size: 20px; ">Staffing</span> <span style="color: rgb(155, 153, 153);"> > Name Surname</span></p>  
  <mat-card class="cardmain"> 
    <img mat-card-image class="cardimg"  src="../assets/image/Sidra-Iqba-5.jpg" alt="img">
    <div class="container" style="width: 100%; margin-top: 20px;">
      <div class="row"  style="display:flex">
        <div class="col-4" class="coll">
          <span style="font-size: 18px;"> Name, Surname</span>
          <br>
          <span class="cardicons">
            <i class="fas fa-envelope " ></i> 
            <i class="far fa-sticky-note "></i>
        </span>
        
        <span> Manager c6 </span>
          <div style="font-size: 12px;">
            
            <br>
            <span >Service Line :</span>
            <span class="properties">Tenure :</span>
            <span class="properties">Hire Date : 31 JUL 2017</span>
            <span class="properties">FTE% : 100</span>
            <br>
            <br>
            <span > Advisor: Rose Dsouza</span>
            <span class="properties">Mentor : Jenie Dsuza</span>
          </div>
           
         
        </div>
        <div class="col-4" class="coll">
          <span  style="font-size: 18px;">  Affiliations</span>
          <div class="row" style="display:grid;grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));">
            <div class="col2">
              <i class="fas fa-signal cardicon"></i>
                Retail
            </div>
            <div class="col2">
              <i class="fas fa-signal cardicon"></i>
                Customer
                
            </div>
            <div class="col2">
              <i class="fas fa-signal cardicon"></i>
                Strategy
            </div>
            <div class="col2">
              <i class="fas fa-signal cardicon"></i>
                Customer
                
            </div>
            <div class="col2">
              <i class="fas fa-signal cardicon"></i>
                Strategy
            </div>
          </div>

        </div>
       
      </div>
    </div>
    </mat-card>
 
  </mat-tab>
  <mat-tab label="Resources"> Resources </mat-tab>
  <mat-tab label="Analytics"> Analytics </mat-tab>
</mat-tab-group>

 
<mat-tab-group class="secondtab" selectedIndex=2 style="margin:5% ;margin-top: 0;">
  <mat-tab label="Calendar"></mat-tab>
  <mat-tab label="Cases"></mat-tab>
  <mat-tab label="About" isActive="true">
    <div class="row" class="datapart2">
      <div  class="tabledata">
        Promotion History
        <br>
        <table style="" class="promotiontable">
          <tr>
            <th class="tablehead">Date</th>
            <th class="tablehead" >Level Grade</th>
          </tr>
          <tr>
            <td class="tablecontent">01-July-2018</td>
            <td class="tablecontent">C6</td>
          </tr>
          <tr>
            <td class="tablecontent">01-Jan-2017</td>
            <td class="tablecontent">C5</td>
          </tr>
          <tr>
            <td class="tablecontent">01-July-2016</td>
            <td class="tablecontent">C4</td>
          </tr>
          <tr>
            <td class="tablecontent">01-July-2015</td>
            <td class="tablecontent">C3</td>
          </tr>
          <tr>
            <td class="tablecontent">01-July-2014</td>
            <td class="tablecontent">C2</td>
          </tr>
          <tr>
            <td class="tablecontentlast">01-July-2013</td>
            <td class="tablecontentlast">C1</td>
          </tr>
        </table>
        </div>
        <div class="columdata">
          <div class="row" style="height: 100%;">
            <div class ="education">
              <div class="wrapper">
                <p>Education</p>                
                <p class="textpara"><span class="ptext2">University</span> <span class="ptext1">Bachelor's Degree</span> <span  class="ptext">Finance</span> <span  class="ptext">2014</span> </p>
                <p class="textpara"><span class="ptext2">School</span> <span class="ptext1">Certification</span> <span  class="ptext">Interaction Design</span> <span  class="ptext">2013</span> </p>
            </div>
          <div class="wrapper">
              <p>Pre Bain Experience</p>            
              <p class="textpara"><span class="ptext2">Bain Experience</span> <span class="ptext1">2014- present</span> </p>
              <p class="textpara"><span class="ptext2">Bain Experience</span> <span class="ptext1">2014- present</span></p>
            </div>
            </div>
            
          </div>
        </div>
        <div class ="certification">
          <div class="wrapper">
            <p>Certifications</p>                
            <p class="textpara2"><span class="ptext2">Scrum Master</span> <span class="ptext1">2014</span> </p>
            <p class="textpara2"><span class="ptext2">Product Management</span> <span class="ptext1">2014</span> </p>
        </div>
        <div class="wrapper" style="margin:0">
          <p>Language</p>

          <div class="language-wrapper">
            <div class="langauge-container">
              <div class="language-title">
                <span>English</span>
                <span>French</span>
              </div>
              <div class="progress-wrapper">
                <div class="progress-input" style="width: 50%;"></div>
              </div>

            </div>

            <div class="langauge-container">
              <div class="language-title">
                <span>English</span>
                <span>French</span>
              </div>
              <div class="progress-wrapper">
                <div class="progress-input" style="width: 75%;"></div>
              </div>

            </div>
          </div>
        </div>
        </div>
    </div>
  </mat-tab>
  <mat-tab label="Preferences"></mat-tab>
  <mat-tab label="Notes"></mat-tab>
  <mat-tab label="Audit Log"></mat-tab>

</mat-tab-group>


<router-outlet></router-outlet>